/* ===== PLAYER WRAPPER ===== */
.player {
  background: #fff;
  padding: 8px 12px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  /* max-width: 1000px; */
}

/* ===== LEFT ===== */
.song-info {
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 12px;
  min-width: 180px;
}

.song-info img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.song-info h4 {
  font-size: 14px;
  margin: 0;
}

.song-info p {
  font-size: 11px;
  color: #777;
  margin: 0;
}

/* ===== CENTER ===== */
.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.controls .btn {
  cursor: pointer;
  opacity: 0.7;
}

.play {
  font-size: 24px;
  cursor: pointer;
  color: #e10600;
}

/* ===== SEEK BAR ===== */
.progress {
  display: flex;
  align-items: center;
  gap: 10px;
}

.time {
  font-size: 11px;
  color: #777;
  width: 35px;
}

.seek-bar {
  flex: 1;
  height: 4px;
  cursor: pointer;
  accent-color: #e10600;
}

/* ===== RIGHT ===== */
.right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.volume-range {
  width: 80px;
  accent-color: #e10600;
  cursor: pointer;
}

.heart-icon {
  color: #ddd;
  cursor: pointer;
}

/* ===== MOBILE ===== */
@media (max-width: 600px) {
  .player { gap: 10px; border-radius: 15px; }
  .center { display: none; }
  .volume-range { display: none; }
}

/* ===== DARK MODE ===== */
.dark .player { background: #1e1e1e; color: white; }
.dark .time { color: #aaa; }